@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: beige;
    margin: 0;
    padding: 20px;
    font-family: "Merriweather", serif;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 1200px; 
}

h1, h2 {
    color: rgb(64, 101, 149);
    font-family: 'Bodoni Moda', serif;
}

.h2-link {
    text-decoration: none;
    color: inherit; /* Ensures the link color matches the surrounding text color */
}

img {
    width: 100%; /* Make image responsive */
    max-width: 800px;
    height: auto; 
    margin: 20px auto; /* Vertical spacing and centering */
}

video {
    width: 500%; 
    max-width: 1000px; 
    height: auto; 
    margin-bottom: 20px; 
}

.h2-link {
    text-decoration: none;
    color: inherit; /* Regular state color */
}

.h2-link:hover {
    color: pink; /* Color changes to pink on hover */
}

